.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.formGroup label {
    font-size: 16px;
    font-weight: bold;
}

.formGroup input,
.formGroup textarea {
    width: 70%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

.formGroup textarea {
    height: 100px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.submitButton {
    background: #590d34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    background: #fff;
    color: #590d34;
    padding: 10px 20px;
    border: 1px solid #590d34;
    border-radius: 5px;
    cursor: pointer;
}