/* ************************************************************* */
/* Complain.js */
/* ************************************************************* */
.defSection {
    display: flex;
    gap: 40px;
    padding: 30px;
}

.addSection {
    width: 750px;
    height: 740px;
}

.listSection {
    width: 1000px;
    height: 740px;
}

.addSection, .listSection {
    border: 1px solid darkgray;
    padding: 20px;
}


/* ************************************************************* */
/* Complain*.js 공통 사용 */
/* ************************************************************* */
.comH1 {
    font-size: 1.7rem;
    padding: 0 10px 20px 10px;
}

/* ************************************************************* */
/* ComplainAdd.js 전용 */
/* ************************************************************* */


/* ************************************************************* */
/* ComplainList.js 전용 */
/* ************************************************************* */
.BoxSection {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.Box {
    border: 2px solid #9D9D9D;
    padding: 15px;
    width: 100%;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateSection > input {
    text-align: center;
    height: 25px;
}

.period {
    display: inline-block;
    margin: 0 20px 0 5px;
    padding: 2px 6px;
    background-color: #4A9DEA;
    color: white;
    height: 25px;
    font-size: 14px;
    user-select: none;
}

.waveSpan {
    margin: 0 5px;
    user-select: none;
}

.searchBtn {
    padding: 2px 6px;
    background-color: #9D9D9D;
    border: none;
    color: white;
    height: 25px;
    font-size: 14px;
    user-select: none;
    margin-right: 5px
}